.Home-section {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      0deg,
      rgba(37, 37, 37, 0.2) 25%,
      rgba(37, 37, 37, 0) 75%
    ),
    url(../images/hardwood.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  scrollbar-width: none;
  position: absolute;
}

.Home {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home-jumbotron {
  margin: 0 10vw 0 10vw;
  padding: 6vh 8vw 6vh 8vw;
  width: auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
}
.Home-jumbotron-welcome {
  font-family: "Ubuntu Mono", monospace;
  font-size: 30px;
}
.Home-jumbotron-icon {
  margin: 0 0 0 3vw;
  vertical-align: middle;
}
.Home-jumbotron-presentation {
  font-size: 15px;
  text-align: justify;
}

@media (max-width: 801px) {
  .Home-jumbotron {
    margin: 0;
    padding: 6vh 10vw 6vh 10vw;
  }
}
