.Projects-section {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 20%,
      rgba(25, 25, 25, 0) 80%
    ),
    url(../images/tiles-shape.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  scrollbar-width: none;
}
