.Header {
  margin: 1vh auto 4vh 0;
  padding: 1vh 4vw 1vh 4vw;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0 25px 25px 0;
}
.Header-title {
  color: rgba(37, 37, 37, 1);
  font-family: "Ubuntu Mono", monospace;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 5px;
}

@media (max-width: 601px) {
  .Header {
    margin: 0 0 4vh 0;
    padding: 0.5vh auto;
    border-radius: 0;
  }
}
